# Python-specific ignores
*.pyc
*.pyo
*.pyd
__pycache__/
*.env
*.env.*
instance/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# FastAPI log files
logs/
*.log
*.out
*.err

# Ignore test results
*.coverage
.tox/
.nox/
coverage.*
.cache

# Virtual environment directories
.Python
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
# Usually these files are written by a Python script from a template
*.manifest
*.spec

# Installer logs
pip-log.txt

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Pylint
.pylint.d/

# VSCode specific files
.vscode/

# Byte-compiled / optimized / DLL files
*.py[cod]

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# pytest
.cache/